<div class="toolbar">
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>One fish</mat-chip>
        <mat-chip>Two fish</mat-chip>
        <mat-chip color="primary" selected>Primary fish</mat-chip>
        <mat-chip color="accent" selected>Accent fish</mat-chip>
    </mat-chip-list>
</div>
<section class="container">
    <div class="videos__container">
        <div fxLayout="row wrap">
            <ng-container *ngFor="let video of videosList">
                <div fxFlex="25" fxFlex.lt-md="50" fxFlex.lt-sm="100">
                    <app-video-sm-box [video]="video"></app-video-sm-box>
                </div>
            </ng-container>
        </div>
    </div>
</section>
